:root {
  --editor-background-color: transparent;
  --editor-text-color: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
body {
  max-width: 960px;
  margin: auto;
  padding: 0 10px 40px;
  display: flex;
  justify-content: center;
}
input[type=radio] {
  display: none;
}
.flex {
  display: flex;
}
.features {
  margin: 16px 0;
}
.features__control {
  display: flex;
  align-items: center;
  margin: 8px auto;
}
input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: #444;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  margin-right: 8px;
}

input[type="checkbox"]:checked {
  background-color: currentColor;
}

.header {
  margin-top: 1rem;
  padding: 0 8px;
}
.header h1 {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
}
.cards .editor {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
code, textarea {
  font-family: Consolas, Monaco, monospace;
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  font-size: 16px;
  line-height: 1.25em;
  caret-color: #333;
  outline: none;
  scrollbar-width: none;
}
textarea {
  padding-left: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

code {
  counter-reset: sh-line-number;
  width: 100%;
  min-height: 360px;
}
::selection {
  background-color: #e2ffea;
}
.code-frame {
  position: relative;
}
.code-header {
  position: relative;
  display: flex;
  background-color: #f6f6f6;
  padding: 16px 22px;
}
.code-control {
  display: flex;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: hsl(0deg 0% 0% / 34%);
  border-radius: 50%;
}
.code-controls {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(16px, -50%);
}
.code-title {
  flex: 1 0;
  text-align: center;
  color: hsl(0deg 0% 0% / 34%);
}

.code-label {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
}

.carousel {
  margin-top: 4rem;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --editor-background-color: transparent;

  position: relative;
  width: 600px;
  height: 480px;
  margin-bottom: 20px;
}
.cards textarea {
  /* disable text area */
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .cards {
    width: 100%;
  }
}

.live-editor-section {
  margin: 100px 0;
}

.live-editor {
  --editor-background-color: transparent;

  flex: 1;
  cursor: default;
  box-shadow: -5px 5px 89px rgba(0, 0, 0, 0.5);
}

.live-editor code,
.live-editor textarea {
  padding: 24px 48px;
}

.live-editor {
  cursor: default;
  margin: 40px auto 80px;
}

.live-editor-color {
  display: flex;
  align-items: center;
  color: #666;
}
.live-editor-color-plate-block {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.live-editor .sh__line {
  color: #333;
}

.live-editor-section .sh__token--class {
  background-color: #d173a3;
}
.live-editor-section .sh__token--identifier {
  background-color: #4789db;
}
.live-editor-section .sh__token--sign {
  background-color: #87bcc3;
}
.live-editor-section .sh__token--string {
  background-color: #00a99a;
}
.live-editor-section .sh__token--keyword {
  background-color: #dec580;
}
.live-editor-section .sh__token--comment {
  background-color: #a27b7b;
}
.live-editor-section .sh__token--jsxliterals {
  background-color: #9c9fef;
}
.live-editor-section .sh__token--break {
  background-color: #e6dab8;
}
.live-editor-section .sh__token--space {
  background-color: #ebd79f;
}