:root {
  --editor-background-color: transparent;
  --editor-text-color: transparent;
}

::selection {
  background-color: #333;
  color: #ddd;
}

.codice-editor ::selection {
  background-color: #e2ffea;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
body {
  margin: 0;
}
.max-width-container {
  max-width: 960px;
  padding: 0 10px 40px;
  margin: auto;
}
input[type=radio] {
  display: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.align-start {
  align-self: start;
}
.align-center {
  align-items: center;
}
.features {
  margin: 16px 0;
}
.features__control {
  display: flex;
  align-items: center;
  margin: 8px auto;
}
input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  font: inherit;
  color: #444;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  margin-right: 8px;
}

input[type="checkbox"]:checked {
  background-color: currentColor;
}

.header {
  margin-top: 1rem;
  padding: 0px 8px;
  text-align: center;
}
.header h1 {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  margin: 1rem;
  padding: 16px 0;
  flex-direction: column;
}
.cards .editor {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
.codice-editor code,
.codice-editor textarea {
  font-family: Consolas, Monaco, monospace;
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  font-size: 16px;
  line-height: 1.5em;
  caret-color: #333;
  outline: none;
  scrollbar-width: none;
}
textarea {
  padding-left: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.code-frame {
  position: relative;
}
.code-header {
  position: relative;
  display: flex;
  background-color: #f6f6f6;
  padding: 16px 22px 0;
}
.code-control {
  display: flex;
  width: 12px;
  height: 12px;
  margin: 4px;
  background-color: hsl(0deg 0% 0% / 34%);
  border-radius: 50%;
}
.code-controls {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(16px, -50%);
}
.code-title {
  flex: 1 0;
  text-align: center;
  color: hsl(0deg 0% 0% / 34%);
}

.code-label {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 2px;
}

.carousel {
  margin: 8rem auto;
  width: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
  --editor-background-color: transparent;

  position: relative;
  width: 600px;
  height: 480px;
  margin: 2rem auto;
}
.cards textarea {
  /* disable text area */
  pointer-events: none;
}

.live-editor-section {
  margin-top: 80px;
}

code {
  counter-reset: sh-line-number;
}
.codice-editor code {
  display: flex !important;
  flex-direction: column;
  padding-left: 48px;
  min-height: 400px;
  width: 100%;
}


pre code .sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  width: 24px;
  display: inline-block;
  margin-right: 18px;
  margin-left: -42px;
  text-align: right;
  color: #a4a4a4;
}

.live-editor {
  flex: 1;
  cursor: default;
  box-shadow: -5px 5px 89px rgba(0, 0, 0, 0.5);
  cursor: default;
  margin: 8rem auto;
  max-width: 720px;
}
.codice-editor code::selection {
  color: transparent;
}
.codice-editor textarea::selection {
  color: #2c7ea163;
}

.codice-editor code,
.codice-editor textarea {
  padding: 24px;
  padding-left: 48px;
}

.live-editor__color {
  margin: 24px 0;
  padding: 0 24px;
}

.live-editor__color .color-palette {
  display: flex;
  flex-wrap: nowrap;
  item-align: center;
  justify-content: center;
  gap: 8px;
}
.live-editor__color input[type="color"] {
  display: inline;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 8px;
  opacity: 0;
  cursor: none;
}
.live-editor__color__item {
  display: flex;
  align-items: center;
  color: #666;
  margin: 4px 0;
}

.live-editor__color__item .copy-button {
  visibility: hidden;
}

.live-editor__color__item:hover .copy-button {
  visibility: visible;
}
.live-editor__color__item:hover,
.live-editor__color__item:hover label {
  cursor: pointer;
}
.live-editor__color__item__indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.sh__line {
  display: block;
}
.live-editor .sh__line {
  color: #333;
}

.live-editor-section .live-editor__color__item__indicator {
  background-color: currentColor;
}

@media screen and (max-width: 600px) {
  .cards {
    width: 100%;
  }
  .code-label--non-selected {
    width: 0 !important;
    height: 0 !important;
    transform: none !important;
    visibility: hidden;
  }
  .live-editor__color {
    display: none;
  }
}