name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      build:
        name: Cache pnpm modules
        uses: actions/checkout@v2
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

        uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.11.0
          run_install: true
          run: pnpm test